#titulo{
  width: 100%;
  margin-top: 0;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
h2{
  font-weight: bolder;
  width: fit-content;
  color:rgb(230,5,137);
  cursor: pointer;
}

#modalDetalhes{
  display: flex;
  flex-direction: column;
}